:host {
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.vertical-actions-false {
  height: 174px;
  min-width: 480px;
  min-height: 174px;
  max-width: 576px;
  max-height: 174px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  flex-grow: 1;
}
.card {
  height: 149px;
  min-width: 480px;
  min-height: 149px;
  max-width: 576px;
  max-height: 149px;
  flex-grow: 1;
  flex-basis: 0;
}
.text {
  height: max-content;
  min-width: min-content;
}
.image {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
