<div class="row-layout group">
  <igx-card [horizontal]="true" class="vertical-actions-false">
    <div class="column-layout group_1">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          You Are Not the User
        </h3>
        <h5 igxCardHeaderSubtitle>
          Design Principles
        </h5>
      </igx-card-header>
      <igx-card-content>
        <p class="ig-typography__body-2 text">
          Vivamus id mi suscipit, eleifend nisi vitae, iaculis eros. Morbi ex magna, lobortis eget justo eu, tincidunt faucibus ante. Duis laoreet feugiat est, eget aliquet sem. Phasellus molestie tincidunt enim. Etiam dictum justo felis, id sollicitudin velit egestas vel. Ut convallis augue et ultrices tincidunt. Proin viverra dui sed ante convallis dictum. Maecenas id velit ipsum.
        </p>
      </igx-card-content>
      <igx-card-actions>
        <ng-container igxStart>
          <button igxButton="contained" type="button" class="button">
            Vertical-false
          </button>
          <button igxButton="outlined" type="button" class="button">
            Button
          </button>
        </ng-container>
        <ng-container igxEnd>
          <button igxIconButton="flat">
            <igx-icon>
              favorite
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </div>
    <igx-card-media width="200px">
      <img src="/assets/Auto%20generated%20image%20for%208645d10d-91ba-4914-a07d-cbf6327dcd5e-a58c15f8-c95a-4e02-a0f8-e00951aa06ef.png" alt="" class="image" />
    </igx-card-media>
  </igx-card>
  <igx-card [horizontal]="true" class="card">
    <div>
      <div class="row-layout">
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-card-media width="64px" height="64px">
              <img src="/assets/Auto%20generated%20image%20for%20a2c1e932-6fae-4323-9652-26d3d5e13338-d121df1c-33f9-45f4-a559-c3d6b46875c0.png" alt="" />
            </igx-card-media>
          </div>
          <h3 igxCardHeaderTitle>
            You Are Not the User
          </h3>
          <h5 igxCardHeaderSubtitle>
            Design Principles
          </h5>
        </igx-card-header>
      </div>
      <igx-card-content>
        <p class="ig-typography__body-2 text">
          Aenean vitae sollicitudin risus, et sollicitudin ipsum. Donec bibendum mauris at faucibus consectetur. Nam scelerisque justo nec feugiat finibus. Duis mauris lectus, porta a metus et, placerat posuere dui. Sed commodo elit libero, eu consectetur urna vestibulum in. Nulla facilisi. Proin posuere rhoncus ligula, nec egestas mi bibendum vel.
        </p>
      </igx-card-content>
    </div>
    <igx-divider [vertical]="true"></igx-divider>
    <igx-card-actions [vertical]="true" class="igx-card-actions--justify">
      <ng-container igxEnd>
        <button igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
